.decoraiton{
    text-decoration: underline;
}
.firstlinks{
    color: orange;
}
.blue{
    color: blue;
}
.backlink{
    background-color: yellow;
}
.redlinks{
    color: red;
}
.blue2{
    font-weight: bold;
    color: blue;
    
}